{% extends 'base.html' %}

{% block title %}{{ block.super }} - {{ question.question_text }}{% endblock %}

{% block content %}
  {{ block.super }}


  <h1>{{ question.question_text|striptags }}</h1>

  <p> Właściciel: {% include 'polls/owner.html' with name='Bartłomiej' last_name='Opajdowski' %}</p>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text|urlizetrunc:3 }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
  </form>


  {{ question.question_text }}

{% endblock %}
