{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{{ block.super }} - Lista pytań{% endblock %}
{% block content %}
  <img src="{% static 'wersja_loga/delipair_green.png' %}" alt="logo">
  {% filter upper %}
    <h1>{% trans 'Lista pytań' %}</h1>
  {% endfilter %}

  <p>Przyklad first of {% firstof 0 2 3 %}</p>

  {% with question_text=object_list.0.question_text %}
    <p>przyklad with: {{ question_text }}</p>
  {% endwith %}

  {% templatetag openblock %} url 'entry_list' {% templatetag closeblock %}

  {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list reversed %}
        <li style="{% cycle question.id 'x' %}">
          <a href="{% url 'polls:detail' question.id %}">{{ question.question_text|safe|lower|title }}
          </a>{% if question.question_text|length > 9 %}({{ question.question_text|length }})
        {% endif %}</li>

      {% endfor %}

    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}

  <p>Przyklad regroup: </p>
  {% regroup cities|dictsort:"country" by country as country_list %}

  <ul>
    {% for country in country_list %}
      <li>{{ forloop.counter|add:"1" }} {{ country.grouper }}
        <ul>
          {% for city in country.list %}
            <li>{{ city.name }}: {{ city.population }} ({{ city.country }})</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <p>Dziś w różnych formatach: {{ today|date:"Y-m-d" }} ({{ today|date:"D   e" }})</p>
  {#<pre>#}
  {#  {% debug %}#}
  {#</pre>#}

  {% autoescape off %}
    {{ text|escape }}
  {% endautoescape %}

  {{ text|cut:"Django" }}


  {% for i in list_zmiennych %}
    {{ i|default:"Pusto" }}
  {% endfor %}
  <br>
  <br>
  lista obiektów:<br>
  {{ object_list|join:' | ' }}
  {{ object_list|join:'\n'|linenumbers }}

  ilość ankiet: {{ object_list|length|linebreaks }}
  czy to prawda: {{ object_list|length_is:"4" }}


  <br><br>
  {{ liczba|floatformat:"2" }}


  {{ 10|divisibleby:"3" }}

  <br>
  {{ 01053|get_digit:"2" }}

  <p>{{ cities|json_script:"city-data" }}</p>


  "{{ text|safe|ljust:"100" }}"

  {{ "89-BARTEK"|phone2numeric }}

  {% with num_messages=1 %}
    {% if num_messages == 1 %}
      masz {{ num_messages }} wiadomość.
    {% else %}
      masz {{ num_messages }} wiadomości.
    {% endif %}
  {% endwith %}

  list: ------------<br>
  <pre>
  random:
  <P>{{ cities|unordered_list }}</P>
</pre>

  {{ old_date|timesince }}

 <li>{{ text|truncatechars:7 }}</li>
 <li>{{ text }}</li>

  <p>
  wartość: {{ yesno_example|yesno:"x,y" }}
  </p>

  user: {{ request.user }}
  <br>user is superuser?: {{ request.user.is_superuser|yesno }}

{% endblock %}


