{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="zti html tutorial">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}TSI2{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block my_extra_css %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  {% endblock my_extra_css %}

</head>
<body>
{% include "polls/menu.html" %}
{% block content %}
{% endblock %}

</body>
</html>
